body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: #d1d6e6;
  line-height: 1.4;
}

h1,
h2,
h3,
h4,
h5 {
 letter-spacing: 1px;
 font-family: 'Space Mono', monospace;
}

#infoButton {
  position: fixed;
  top: 5%;
  right: 3%;
  font-family: 'Major Mono Display', monospace;
  font-size: 50px;
  font-weight: bolder;
  background: transparent;
  margin: 0 8px;
  padding: 6px 12px;
  color: #01af52;
  cursor: pointer;
  border: 2px solid #01af52;
  border-radius: 50%;
}
#infoButton:hover {
  text-shadow: 0 0px 10px, 0 0 0px, 0 0 0.5em white;
  box-shadow: 0 0px 100px, 0 0 0px, 0 0 0.5em white;
}

#infoDropdown {
  display: none;
  position: fixed;
  top: 60px;
  right: 20px;
  background-color: #d1d6e6;
  border: 1px solid black;
  padding: 15px;
  max-width: 300px;
  color: #01af52;
  font-family: 'Inter', sans-serif;
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
  cursor: pointer;
  font-size: 24px;
}
