body { 
  margin: 0;
  padding: 1em;
  overflow: hidden;
  background-color: #d1d6e6;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
}

#p5-canvas {
  display: block;
  max-width: 100%;
  margin: auto;
  background-color: transparent;
}

h1,
h2,
h3,
h4,
h5 {
 letter-spacing: 2px;
 font-family: 'Space Mono', monospace;
}

#infoButton {
  position: fixed;
  top: 5%;
  right: 6%;
  font-family: 'Major Mono Display', monospace;
  font-size: 50px;
  font-weight: bolder;
  background: transparent;
  margin: 0 8px;
  padding: 6px 12px;
  color: #01af52;
  cursor: pointer;
  border: 2px solid #01af52;
  border-radius: 50%;
}
#infoButton:hover {
  text-shadow: 0 0px 10px, 0 0 0px, 0 0 0.5em white;
  box-shadow: 0 0px 100px, 0 0 0px, 0 0 0.5em white;
}

#infoDropdown {
  display: none;
  position: fixed;
  top: 10%;
  right: 5%;
  overflow-y: auto;
  background-color: #d1d6e6;
  border: 2px solid #2C2C2C;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 0 #2C2C2C;
  box-shadow: 4px 4px 0 #2C2C2C;
  color: #01af52;
  font-family: 'Inter', sans-serif;
}
/* Media query for mobile screens */
@media only screen and (max-width: 767px) {
  #infoDropdown {
    width: 80%;
    max-height: 80%;
    font-size: 17px;
    padding: 20px;
  }
}
/* Media query for desktop screens */
@media only screen and (min-width: 768px) {
  #infoDropdown {
    width: 65%;
    max-height: 60%;
    font-size: 18px;
    padding: 2em;
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 25px;
  cursor: pointer;
  font-size: 25px;
}

#infoDropdown a:link,
#infoDropdown a:visited {
  color: #01af52;
  text-decoration: none;
  padding-bottom: 0px !important;
  border-bottom: 2px solid #01af52;
  transform: skew(52deg) translateX(-50%);
}

#infoDropdown a:hover {
  font-weight: bold;
  color: #d1d6e6;
  background: #01af52;
}

footer {
  position: fixed;
  z-index: -1;
  white-space: nowrap;
  bottom: 5%;
  left: 0;
  margin: auto;
  width: 100%;
  min-width: 200px;
  text-align: center;
  background-color: transparent;
  color: #01af52;
  letter-spacing: 2px;
  font-weight: bold;
  font-family: 'Space Mono', monospace;
}
